/* CSS Reset Start */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset End */

/* Fonts Start */

@font-face {
  font-family: nyt-franklin;
  font-weight: 300;
  src: url('./franklin-normal-300.ttf');
}

@font-face {
  font-family: nyt-franklin;
  font-weight: 500;
  src: url('./franklin-normal-500.ttf');
}

@font-face {
  font-family: nyt-franklin;
  font-weight: 600;
  src: url('./franklin-normal-600.ttf');
}

@font-face {
  font-family: nyt-franklin;
  font-weight: 700;
  src: url('./franklin-normal-700.ttf');
}

@font-face {
  font-family: nyt-cheltenham;
  font-style: normal;
  font-weight: 500;
  src: url('./cheltenham-normal-500.ttf');
}

@font-face {
  font-family: nyt-cheltenham;
  font-style: italic;
  font-weight: 700;
  src: url('./cheltenham-italic-700.ttf');
}

/* Fonts End */

html {
  color: #444;
  font-family: nyt-franklin, Cochin, Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

img {
  max-width: 100%;
}

/* Nav Bar Start */

nav {
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: center;
  height: 43px;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
}

nav > * {
  margin-top: -0.1%;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

#burger {
  font-size: 14px;
  color: rgb(38, 38, 38);
  padding: 9px;
  margin-left: 40%;
}

#search {
  font-size: 14px;
  color: rgb(38, 38, 38);
  padding: 9px;
  margin-left: 65%;
}

#brand {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-size-adjust: 100%;
  text-transform: uppercase;
  -webkit-letter-spacing: 0.7px;
  -moz-letter-spacing: 0.7px;
  -ms-letter-spacing: 0.7px;
  letter-spacing: 0.7px;
  line-height: 19px;
  margin-left: 3%;
  margin-right: -2%;
  text-decoration-style: solid;
}

#brand:hover {
  text-decoration: underline;
}

#logo {
  display: inline-block;
  position: relative;
  width: 189px;
  margin: 0 auto;
  margin-top: 0.5%;
}

.nav-button {
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgb(86, 123, 149);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.6s ease 0s;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  border-image: initial;
  padding: 11px 12px 8px;
}

#subscribe {
  margin-right: 8px;
}

#login {
  margin-right: 15px;
}

/* Navbar End */

article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 50px;
  grid-template-areas:
    '. . . header header header header header header . . .'
    '. . figure figure figure figure figure figure figure figure . .'
    '. . . article-part1 article-part1 article-part1 article-part1 article-part1 article-part1  editor-picks editor-picks .'
    '. . . article-part2 article-part2 article-part2 article-part2 article-part2 article-part2  . . .'
    '. . theory-headline theory-headline theory-headline theory-headline theory-headline theory-headline theory-headline theory-headline . .'
    '. . theory-subtext theory-subtext theory-subtext theory-subtext theory-subtext theory-subtext theory-subtext theory-subtext . .'
    '. . theory theory theory theory theory theory theory theory . .'
    '. . . article-part3 article-part3 article-part3 article-part3 article-part3 article-part3  . . .'
    '. . telescope-div telescope-div telescope-div telescope-div telescope-div telescope-div telescope-div telescope-div . .'
    '. . . article-part4 article-part4 article-part4 article-part4 article-part4 article-part4  . . .'
    '. more-articles more-articles more-articles more-articles more-articles more-articles more-articles more-articles more-articles more-articles .';
}

/* Header Start */

header {
  grid-area: header;
  color: black;
  margin-top: 100px;
  margin-bottom: 25px;
  line-height: 48px;
  max-width: 600px;
  text-size-adjust: 100%;
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 40px;
  font-stretch: 100%;
  font-style: italic;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  display: block;
}

figure {
  grid-area: figure;
}

figcaption {
  color: rgb(102, 102, 102);
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  vertical-align: baseline;
  max-width: 900px;
  margin-bottom: 40px;
}

#figure-credit {
  color: rgb(136, 136, 136);
  display: inline;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  letter-spacing: 0.12px;
  line-height: 18px;
  text-align: left;
  text-size-adjust: 100%;
}

/* Header End */

/* Article Start */

#article-part1 {
  grid-area: article-part1;
}

#article-part2 {
  grid-area: article-part2;
}

#article-part3 {
  margin-top: 5%;
  grid-area: article-part3;
}

/* Article Details Start */

#author {
  color: rgb(51, 51, 51);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

#author-clickable {
  text-decoration: underline;
  text-decoration-color: rgba(51, 51, 51, 0.3);
}

#author-clickable:hover {
  text-decoration: none;
  cursor: pointer;
}

#date {
  color: rgb(51, 51, 51);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  text-align: left;
  margin-right: 41%;
}

#social-buttons {
  display: inline-block;
}

.social-button {
  display: inline-flex;
  justify-content: center;
  align-content: flex-end;
  background-color: rgb(238, 238, 238);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 26px;
  height: 20px;
  padding-top: 6px;
  margin-right: 13px;
}

.social-button:hover {
  background-color: white;
  border: 1px solid #ccc;
}

.social-icon {
  font-size: 14px;
}

.social-buttons {
  display: inline-block;
}

.bookmark {
  margin-right: 12px;
}

.non-social-buttons {
  margin-top: 2px;
}

.fa-comment-alt:hover {
  color: rgba(102, 102, 102, 0.4);
}

.pointer:hover {
  cursor: pointer;
}

#article-details {
  margin-bottom: 35px;
}

/* Article Details End */

/* Article Text Start */

.article-text {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 13px;
}

/* Sign Up Ad Start */

#unlock-more {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 19px;
  line-height: 19px;
  text-align: center;
}

#signup {
  color: rgb(50, 104, 145);
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  text-decoration-color: rgb(50, 104, 145);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  vertical-align: baseline;
}

#ad:after,
#ad:before {
  display: block;
  text-align: center;
  content: '';
  width: 20%;
  margin: 15px auto;
  height: 1px;
  background: rgba(51, 51, 51, 0.315);
}

#pre-ad {
  margin-bottom: 30px;
}

#post-ad {
  margin-top: 30px;
}

/* Sign Up Ad End */

/* Editor Picks Start */

.editor-picks-div {
  grid-area: editor-picks;
  grid-row-start: 4;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: -200px;
  margin-bottom: -15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.editor-picks-headline:after {
  display: block;
  text-align: center;
  content: '';
  width: 60%;
  margin-top: 12px;
  margin-bottom: 15px;
  margin-right: 20px;
  height: 1px;
  background: rgb(226, 226, 226);
}

.picks {
  display: grid;
  grid-template-columns: auto 3fr;
  gap: 15px 10px;
  grid-template-rows: auto;
  grid-template-areas:
    'pick1-image pick1-text'
    'pick2-image pick2-text'
    'pick3-image pick3-text';
}

.picks-image {
  width: 75px;
}

.pick1-image {
  grid-area: pick1-image;
}

.pick1-text {
  grid-area: pick1-text;
}
.pick2-image {
  grid-area: pick2-image;
}

.pick2-text {
  grid-area: pick2-text;
}
.pick3-image {
  grid-area: pick3-image;
}

.pick3-text {
  grid-area: pick3-text;
}

.picks-text {
  align-self: center;
  color: rgb(51, 51, 51);
  display: block;
  font-family: nyt-cheltenham-small, georgia, 'times new roman';
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  line-height: 17px;
  width: 125px;
}

.picks-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Editor Picks End */

h2 {
  color: rgb(51, 51, 51);
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: auto;
  line-height: 30px;
  margin-top: 35px;
  margin-bottom: 10px;
}

/* Inflation Theory Start */

#theory-div {
  display: grid;
  grid-area: theory;
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'theory-picture theory-picture theory-picture theory-picture'
    'theory-text1 theory-text2 theory-text3 theory-text4'
    'theory-text5 theory-text6 theory-text7 theory-text8'
    'theory-authors theory-authors theory-authors theory-authors';
}

#theory-headline {
  grid-area: theory-headline;
  color: rgb(0, 0, 0);
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;
  margin-left: 1%;
  text-align: left;
}

#theory-subtext {
  grid-area: theory-subtext;
  color: rgb(102, 102, 102);
  text-align: left;
  font-family: nyt-cheltenham-sh, georgia, 'times new roman', times, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 10px;
  margin-left: 1%;
}

#theory-picture {
  grid-area: theory-picture;
}

.theory-paragraph-start {
  color: rgb(0, 0, 0);
  display: inline;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.55px;
  line-height: 17px;
  text-size-adjust: 100%;
}

.theory-text-row1 {
  margin-left: 4%;
  margin-top: -180%;
  grid-row-start: 3;
  color: rgb(0, 0, 0);
  display: block;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: 120px;
  line-height: 17px;
  text-size-adjust: 100%;
  width: 228px;
}

.theory-text-row2 {
  margin-left: 4%;
  margin-top: -60%;
  grid-row-start: 3;
  color: rgb(0, 0, 0);
  display: block;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: 120px;
  line-height: 17px;
  text-size-adjust: 100%;
  width: 228px;
}

#theory-text1 {
  grid-area: theory-text1;
}
#theory-text2 {
  grid-area: theory-text2;
}
#theory-text3 {
  grid-area: theory-text3;
}
#theory-text4 {
  grid-area: theory-text4;
}

#theory-text5 {
  grid-area: theory-text5;
}
#theory-text6 {
  grid-area: theory-text6;
}
#theory-text7 {
  grid-area: theory-text7;
}
#theory-text8 {
  grid-area: theory-text8;
}

#theory-text5:after {
  display: block;
  text-align: center;
  content: '';
  width: 30%;
  margin-top: 30px;
  height: 1px;
  background: black;
}

#theory-authors {
  margin-left: 1%;
  margin-top: 4%;
  grid-area: theory-authors;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 18px;
  line-height: 18px;
}

/* Inflation Theory End */

iframe {
  margin-top: 25px;
  margin-bottom: 5px;
}

#video-credit {
  color: rgb(136, 136, 136);
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  height: 1px;
  letter-spacing: 0.13px;
  line-height: 18px;
}

#telescope-div {
  grid-area: telescope-div;
  margin-top: 25px;
}

#telescope-credit {
  color: rgb(136, 136, 136);
  display: inline;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
}

#article-part4 {
  grid-area: article-part4;
}

#article-bottom-info {
  color: rgb(102, 102, 102);
  display: block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  height: 32px;
  line-height: 16px;
  margin-bottom: 20px;
}

.article-bottom-interactive {
  text-decoration: underline;
}

.article-bottom-interactive:hover {
  text-decoration: none;
  cursor: pointer;
}

#read-comments-button {
  background-color: rgb(86, 123, 149);
  border-bottom-color: rgb(50, 104, 145);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(50, 104, 145);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(50, 104, 145);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(50, 104, 145);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  outline: none;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 600;
  height: 36px;
  letter-spacing: 0.65px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 25%;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: rgb(50, 104, 145);
  transition-timing-function: ease;
  width: 330px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
}

#read-comments-button:hover {
  background-color: rgb(50, 104, 145);
}

/* Article Text End */

/* More Articles Start */

#more-articles {
  display: grid;
  grid-area: more-articles;
  column-gap: 25px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
}

#more-in-space {
  display: grid;
  max-height: 70%;
  border-top: 1px solid black;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 35px 20px;
}

#more-in-space-headline {
  grid-column: 1 / span 3;
  margin-bottom: -25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  line-height: 22px;
}

#more-in-space-headline a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.more-credit {
  color: rgb(153, 153, 153);
  font-family: nyt-cheltenham-small, georgia, 'times new roman';
  font-size: 10px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  height: 12px;
  line-height: 12.3px;
  margin-top: 3px;
  padding-bottom: 4px;
  text-align: right;
  text-size-adjust: 100%;
  text-transform: none;
  vertical-align: baseline;
}

.more-image-headline {
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 18px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-size-adjust: 100%;
}

.more-image-headline:hover {
  color: rgb(102, 102, 102);
}

.more-date {
  color: rgb(153, 153, 153);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 20px;
  text-align: left;
  text-size-adjust: 100%;
}

#most-popular {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-top: 1px solid black;
  color: rgb(51, 51, 51);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  line-height: 22px;
  padding-top: 17px;
  text-size-adjust: 100%;
  width: 318px;
}

#most-popular > * {
  border-bottom: 1px solid rgb(226, 226, 226);
}

#most-popular-headline {
  padding-bottom: 10px;
}

.most-popular-article {
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 19px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  line-height: 23px;
  text-decoration-color: rgb(18, 18, 18);
  text-decoration-style: solid;
  box-sizing: border-box;
  padding: 15px 0;
}

.clickable:hover {
  color: rgb(102, 102, 102);
  cursor: pointer;
}
