/* CSS Reset Start */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset End */

html {
  color: #444;
  font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

img {
  max-width: 100%;
}

/* Nav Bar Start */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: center;
  height: 43px;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
}

nav > * {
  margin-top: -0.1%;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

#burger {
  font-size: 14px;
  color: rgb(38, 38, 38);
  padding: 9px;
  margin-left: 40%;
}

#search {
  font-size: 14px;
  color: rgb(38, 38, 38);
  padding: 9px;
  margin-left: 65%;
}

#brand {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-size-adjust: 100%;
  text-transform: uppercase;
  -webkit-letter-spacing: 0.7px;
  -moz-letter-spacing: 0.7px;
  -ms-letter-spacing: 0.7px;
  letter-spacing: 0.7px;
  line-height: 19px;
  margin-left: 3%;
  margin-right: -2%;
  text-decoration-style: solid;
}

#brand:hover {
  text-decoration: underline;
}

#logo {
  display: inline-block;
  position: relative;
  width: 189px;
  margin: 0 auto;
  margin-top: 0.5%;
}

.nav-button {
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgb(86, 123, 149);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.6s ease 0s;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  border-image: initial;
  padding: 11px 12px 8px;
}

#subscribe {
  margin-right: 8px;
}

#login {
  margin-right: 15px;
}

/* Navbar End */

article {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    '. . . header header header header . . .'
    '. figure figure figure figure figure figure figure figure  .'
    '. . . main main main main . . .';
}

/* Header Start */

header {
  grid-area: header;
  color: black;
  margin-top: 100px;
  margin-bottom: 25px;
  line-height: 48px;
  max-width: 600px;
  text-size-adjust: 100%;
  width: 600px;
  color: rgb(18, 18, 18);
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 40px;
  font-stretch: 100%;
  font-style: italic;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 600;
  display: block;
}

figure {
  grid-area: figure;
}

figcaption {
  color: rgb(102, 102, 102);
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  vertical-align: baseline;
  max-width: 900px;
  margin-bottom: 40px;
}

#figure-credit {
  color: rgb(136, 136, 136);
  display: inline;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 18px;
  text-align: left;
  text-size-adjust: 100%;
}

/* Header End */

/* Article Start */

main {
  grid-area: main;
}

#author {
  color: rgb(51, 51, 51);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  margin-bottom: 20px;
}

#author-clickable {
  text-decoration: underline;
  text-decoration-color: rgba(51, 51, 51, 0.3);
}

#author-clickable:hover {
  text-decoration: none;
  cursor: pointer;
}

#date {
  color: rgb(51, 51, 51);
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 16px;
  line-height: 16px;
  text-align: left;
  margin-right: 41%;
}

#social-buttons {
  display: inline-block;
}

.social-button {
  display: inline-flex;
  justify-content: center;
  align-content: flex-end;
  background-color: rgb(238, 238, 238);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 26px;
  height: 20px;
  padding-top: 6px;
  margin-right: 13px;
}

.social-button:hover {
  background-color: white;
  border: 1px solid #ccc;
}

.social-icon {
  font-size: 14px;
}

.social-buttons {
  display: inline-block;
}

.bookmark {
  margin-right: 12px;
}

.non-social-buttons {
  margin-top: 2px;
}

.fa-comment-alt:hover {
  color: rgba(102, 102, 102, 0.4);
}

.pointer:hover {
  cursor: pointer;
}
